<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interfaz de Libros</title>
    <link rel="stylesheet" href="./styles/styles.css">
</head>
<body>
    <div class="container">
        <h1>Interfaz de Libros</h1>

        <form id="bookSearchForm">
            <input type="text" id="searchInput" placeholder="Buscar libro por título">
            <button type="submit">Buscar libro</button>
        </form>

        <div id="booksContainer"></div>

        <div class="login">
            <h1>Inicia sesión para verificar</h1>
            <form method="POST" action="/auth">
                <input type="text" name="email" placeholder="Correo electrónico">
                <input type="password" name="password" placeholder="Contraseña">
                <input type="submit" value="Iniciar sesión" />
            </form>
        </div>
    </div>

    <script src="../scripts.js"></script>
</body>
</html>